<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<script src="js/vue.js"></script>
		<style type="text/css">
			ul{
				list-style: none;
			}
			
			ul:nth-child(2)
			{
				background:#ddccbb;
			}
			ul:nth-child(3)
			{
				background:#ff0000;
				color: #ccc;
			}
			ul:nth-child(4)
			{
				background:#000;
				color: #fff;
			}
			ul:nth-child(5)
			{
				background:#f0f;
				color: #dcf;
			}
		</style>
	</head>
	<body>
		<div id="box">
			<button type="button" @click="add">添加</button>
			<ul>
				<li v-for="key in arr" >
					{{key }} {{$index}}
				</li>
				</ul>

				<ul>
				<li v-for="key in arr1" track-by="$index">
					{{key }} {{$index}}
				</li>
				</ul>
				
				<ul>
				<li v-for="value in json">
				{{value}}
				</li>
				</ul>
				<ul>
				<li v-for="(k,v) in json">
				{{k}} {{v}} {{$index}} {{$key}}
				</li>
			</ul>
		</div>
		<script>
			window.onload=function(){
				var vm = new Vue({
					el:'#box',
					data:{
						arr:["apple","banana","pear","orange"],
						arr1:["apple","banana","pear","orange"],
						json:{a:'I',b:'love',c:'you'}
					},
					methods:{
						add:function(){
							this.arr1.unshift('tomato');
						}
					}
				});
			};
			
		</script>
	</body>
</html>
