<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<script src="js/vue.js"></script>
	</head>
	<body>
		<input v-model="msg">
		<input v-model="msg" />
		<br />
		{{msg}}
		<br />
		{{msg1}}
		<br />
		{{msg2}}
		<br />
		{{arr}}
		<br />
		{{json.a+" "+json.b+" "+json.c}}
		
		<script>
			window.onload=function(){
				new Vue({
					el:'body',
					data:{
						msg:'welcome vue',
						msg1:'vue hello',
						msg2:true,
						arr:["apple","banana","pear","orange"],
						json:{a:'I',b:'love',c:'you'}
					},
				});
			};
		</script>
	</body>
</html>
