<htm>
	<head>
		<meta charset="utf-8">
		<script type="text/javascript" src="js/vue.js"></script>
		<script type="text/javascript" src="js/vue-resource.js"></script>
		<style type="text/css">
			.gray{
				background: #ccc;
			}
		</style>
	</head>
	<body>
		<div id="box">
			<input type="text" v-model="t1" name="" @keyup="get($event)" @keydown.down="changeDown()"  @keydown.up.prevent="changeUp()"> 
			<ul>
				<li v-for="value in myData" :class={gray:$index==now}>{{value}}</li>
			</ul>
			<p v-show="myData.length==0">暂无数据。。。。</p>
		</div>
	</body>
	<script type="text/javascript">
	window.onload=function(){
		new Vue({
			el:'#box',
			data:{
				myData:[],
				t1:'',
				now:-1
			},
			methods:{
				get:function (ev) {
						if(ev.keyCode==38||ev.keyCode==40)return;
						if(ev.keyCode==13){
							//https://www.baidu.com/s?wd=s&rsv_spt=1&rsv_iqid=0xc3b31d2e000172b9&issp=1&f=3&rsv_bp=1&rsv_idx=2&ie=utf-8&rqlang=cn&tn=baiduhome_pg&rsv_enter=0&rsv_t=8a59WMzEGW6lV704BnbnrjoAoCryl3fgh3H4LqLdQzWtJ1XK4GINLpuH%2F3a62aGWrXux&oq=a&rsv_pq=b4f984a90001c9a8&rsv_sug3=7&rsv_sug2=0&prefixsug=s&rsp=3&inputT=557&rsv_sug4=29955&rs
							
							window.open('https://www.baidu.com/s?wd='+this.t1);
							this.t1='';

						}

					// body...
					//接口https://sp0.baidu.com/5a1Fazu8AA54nxGko9WTAnF6hhy/su?wd=&json=1&p=3&sid=1442_21080_18560_26350_22072&req=2&sc=eb&csor=0&cb=jQuery1102008133481837098167_1543148067627&_=1543148067629
					this.$http.jsonp('https://sp0.baidu.com/5a1Fazu8AA54nxGko9WTAnF6hhy/su',{
							wd:this.t1
						},{
							jsonp:'cb'
						}).then(function(res){
							this.myData=res.data.s;
						},function(){
						
						});
				},
				changeDown:function(){
					this.now++;
					if(this.now==this.myData.length) 
						this.now=-1;
						this.t1=this.myData[this.now];
				},
				changeUp:function(){
					this.now--;
					if(this.now==-2)
						this.now=this.myData.length-1;
						this.t1=this.myData[this.now];
				}

			}
		});

	};
	</script>
</htm>