<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<script type="text/javascript" src="vue.js"></script>
	<link rel="stylesheet" href="">
</head>
<body>
	<div id="box">
		<input type="button" name="" value="添加" @click="add">
		<ul>
			<!-- <li v-for="val in arr">{{val}}</li>去掉了隐式变量，去掉了track-by、去掉$key--> 
			<!-- <li v-for="(val,index) in arr">{{val}}{{index}}</li> -->
			<li v-for="(val,index) in arr" :key="index">{{val}}{{index}}</li>
		</ul>
	</div>


	
	<script type="text/javascript">
	
		window.onload=function(){
			new Vue({
				el:'#box', 
				data:{
					arr:['apple','height','banana']
				},
				methods:{
					add:function(){
						this.arr.push("tomato");
					}
				},
				
			});
		}
	</script>
</body>
</html>